HOST_IP=127.0.0.1

KAFKA_HOST_IP=127.0.0.1
KAFKA_HOST_PORT=9092
CASSANDRA_HOST_PORT=9042
INFERENCE_DB_HOST_PORT=5432

CDC_TARGET_HOST=ml-inference
CDC_TARGET_PORT=ml-inference

SPARK_APP_UI_HOST_PORT=4040
SPARK_MASTER_RPC_HOST_PORT=7077
SPARK_MASTER_WEB_UI_HOST_PORT=8080

INFERENCE_DB_NAME=postgres
INFERENCE_DB_USER=postgres
INFERENCE_DB_PASSWORD=postgres
INFERENCE_DB_NAME=postgres

SHOPEE_URL=https://shopee.co.id/buyer/1626724324/rating?shop_id=1625754878
